<html>
<%- include('header')  -%>
<body>
<form action=<%= origin + "/upload" %> enctype="multipart/form-data" method="POST">
	<input type="file" name="js_file"></input><br></br>
	your mail address:<input type="text" name="mail_address"></input><br></br>
	<%- include('recaptcha') %><br></br>
	<input type="submit" value="submit!"></input>
</form>

</body>


<%- include('footer')  -%>
</html>